html, body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  color: #333;
}

p, ul, li, span, ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, button {
  outline: none;
}

input {
  text-indent: .5em;
}

.md-bottom-bar .md-active .md-icon {
  color: #00b600 !important;
}

.md-bottom-bar .md-bottom-bar-item .md-icon {
  color: #ccc;
}

.md-tabs-navigation {
  background: #f7f7f7 !important;
}

.md-tabs-navigation .md-button-content {
  color: #666;
}

.md-icon.md-theme-default.md-icon-font {
  color: #d8d8d8 !important;
}

.rate-box {
  text-align: center;
}

.rate-box .md-icon {
  width: 12px;
  min-width: 12px;
  height: 12px;
  font-size: 14px !important;
}

.rate-box .md-icon.md-theme-default.md-icon-font.yellowBg {
  color: #FFB712 !important;
}
